# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv311
pip-log.txt
pip-delete-this-directory.txt
.idea/ # For PyCharm/IntelliJ users
.vscode/ # For VS Code users (can be committed if shared settings are desired, but often ignored)

# Environment variables
.env

# Telethon session file
*.session
*.session-journal

# Logs
*.log

downloads/
last_message_ids.json

venv311